body {background-color:black;font-family: Arial;color: white;}

h1{color:grey;font-family: Verdana;justify-content: center; margin-left: 50px;}

b{
    background-color:yellow;
}
.maindiv {
    background-color:white;
    color:black;
    width:600px;
    padding:20px;
    border-radius:25px;
    align:center;
    margin: auto;
}

.ratio{
    margin-left: 125px;
}

#footnote {
    margin-left: 50px;
}